  <!-- user login -->
  <div class="col-sm-12">
    <div class="row">
      <p>Welcome Archana!!</p>
      <button id="homeBtn" type="button" class="btn btn-lg btn-primary">Home</button>
    </div>
    <div class="row">
    <!--this code for enable joint link-->
      <div class="btn-group">
        <button type="button" class="btn btn-lg btn-primary">View profile</button>
        <button type="button" class="btn btn-lg btn-primary">Edit profile</button>
        <button type="button" class="btn btn-lg btn-primary">View other users</button>
    </div>
    </div>
  </div>
