<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!--Login Starts-->
<div class="col-sm-12" id="outerDiv">
  <div id="login" class="panel col-sm-6">
    <h1 class="allignCenter">Login</h1>

    <!--<form  id="loginForm">-->
    <form id="loginForm" class="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" class="form-control txtbox" id="userName" [(ngModel)]="model.userName" name="userName" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control txtbox" id="password" [(ngModel)]="model.password" name="password" required>
      </div>

      <button type="submit" class="btn btn-primary center-block btn-login ladda-button" data-style="expand-right"
        id="loginSubmit"><span class="ladda-label">SIGN IN</span></button>
    </form>
    <!-- <h5 style="color:red;padding-top: 20px;padding-left: 20px;" >{{error_message}}</h5> -->
  </div>
</div>
<!--Login Ends-->